*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--ff-gro: 'Familjen Grotesk', sans-serif;

	--fw-reg: 400;
	--fw-semi: 600;
	--fw-bold: 700;

	--clr-light: #fff;
	--clr-dark: #000;
	--clr-accent: #aeafaf;

	--fs-h1: 6rem;
	--fs-h2: 3rem;
	--fs-h3: 1rem;
	--fs-body: 0.9rem;
}

::selection {
	color: #000;
	background: #fff;
}
/* typography */

h1 {
	display: block;
	font-family: var(--ff-gro);
	font-size: var(--fs-h1);
	font-weight: var(--fw-bold);
	line-height: 50px;
	text-shadow: 0 2px var(--clr-dark);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	display: block;
	font-family: var(--fs-h3);
}
/* General Styles */

body {
	font-family: var(--ff-gro);
	background: var(--clr-dark);
	color: var(--clr-light);
}

a {
	text-decoration: none;
	color: var(--clr-light);
}

ul {
	list-style: none;
}
section {
	position: relative;

	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-transform: uppercase;
}
a {
	background-color: transparent;
}
footer {
	position: relative;
	padding: 25px 0;
}
/* Header */

.main-header {
	position: fixed;
	font-size: var(--fs-body);
	text-transform: uppercase;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	height: 100px;
	padding: 0 30px;
}
.logo {
	width: 210px;
	height: auto;
	margin-left: 20px;
}

.logo img {
	display: block;
	width: 100%;
	height: auto;
}

/* Desktop Nav Menu */

.desktop-nav {
	display: block;
	position: relative;
	margin-right: 50px;
	font-weight: var(--fw-semi);
	text-align: left;
	padding-left: 40px;
}

.desktop-nav ul {
	display: flex;
}
.desktop-nav-item {
	position: relative;
	margin-right: 20px;
	padding-bottom: 2px;
}

.desktop-nav-item a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--clr-light);
	transform: scaleX(0);
	transition: transform 500ms cubic-bezier(0.47, 0, 0.5, 1);
	transform-origin: right center;
}
.desktop-nav-item a:hover::after {
	transform: scaleX(1);
	transform-origin: left center;
	transition-duration: 400ms;
}
.desktop-nav__shop {
	display: inline-block;
	position: absolute;
	right: 50px;
}
/* nav Toggle */

.nav-toggle {
	padding: 0.5em;
	background: transparent;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 4em;
	top: 42px;
	z-index: 1000;
}

/* Hamburger */
.hamburger {
	display: block;
	position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
	background-color: var(--clr-light);
	width: 20px;
	height: 2px;

	transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
}
.hamburger::before {
	top: 5px;
}
.hamburger::after {
	bottom: 5px;
}

/* animation */

.nav-open .hamburger {
	transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
	transform: rotate(90deg) translateX(-5px);
}

.nav-open .hamburger::after {
	opacity: 0;
}

/* Overlay */

.overlay__show {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}
.stop-scroll {
	overflow: hidden;
}
/*hide mobile meenu items  */

.mobile-only {
	display: none;
}

/* Mobile Nav Menu */

.mobile--collapse {
	display: flex;
	align-items: start;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	width: 350px;
	height: 100%;
	padding-top: 50px;
	background-color: var(--clr-dark);

	transform: translateX(100%);
	transition: transform 600ms cubic-bezier(0.47, 0, 0.5, 1);
	z-index: 4;
}

.show-menu {
	transform: translateX(0);
}

.mobile--collapse ul {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	padding: 20px 30px;
	width: 100%;
}

.mobile--collapse ul li {
	margin-bottom: 20px;
	font-size: var(--fs-body);
	text-transform: uppercase;
	font-weight: 300;
	border-bottom: 1pt #252525 solid;
	width: 100%;
	text-align: right;
	padding-bottom: 5px;
}
.mobile--collapse ul li a {
	color: var(--clr-light);
	transition: color 600ms;
}
.mobile--collapse ul li a:hover {
	color: var(--clr-accent);
}
/*  INTRO */

.section--intro {
	background-image: url(../img/dragon.webp);
}

.section--intro__a {
	background-image: url(../img/section-e.webp);
}
.section--intro__b {
	background-image: url(../img/section-c.webp);
}
.section--inner {
	position: absolute;
	bottom: 50px;
	left: 50px;
	text-align: left;
	max-width: 500px;
}

.section--inner h3 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 5px;
	animation: fadeInUp 750ms ease-in-out;
	animation-fill-mode: both;
}

.section--inner h2 {
	margin-bottom: 20px;
	animation: fadeInUp 750ms ease-in-out 250ms;
	animation-fill-mode: both;
}
.section--inner a {
	animation: fadeInUp 750ms ease-in-out 500ms;
	animation-fill-mode: both;
}
a.btn {
	position: relative;
	min-width: 130px;
	padding: 15px 30px;
	margin: 30px 0 0;
	border: 2px solid var(--clr-light);
	overflow: hidden;
	z-index: 2;
}
.btn .learn-more {
	font-family: var(--ff-gro);
	font-size: var(--fs-body);
	color: var(--clr-light);
	font-weight: var(--fw-bold);
	text-align: center;
	width: 100%;
	transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .learn-more {
	color: var(--clr-dark);
}

.btn .hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-light);
	z-index: -1;
	transform: translateY(100%);
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
	transform: translateY(0);
}
.btn .learn-more,
a.btn {
	display: inline-block;
}

.scroll-arrow {
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: 30px;
	height: 20px;
	margin: 0 0 0 -15px;
	visibility: inherit;
	transform: translateX(-50%);
	animation: fadeBounce 5s infinite;
}
.scroll-arrow svg path {
	fill: none;
	stroke: #fff;
}

/* Inner Pages */

.bg--falcon-9 {
	background-image: url(../img/falcon-9.webp);
}
.bg--falcon__heavy {
	background-image: url(../img/falcon-heavy.webp);
}
.bg--dragon {
	background-image: url(../img/section-intro.jpg);
}
.section--animate {
	animation: fadeIn 2s ease-in-out;
}

.section--inner__center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
}
.section--inner__center h1 {
	margin-bottom: 50px;
	animation: fadeInUp 500ms ease-in-out;
}
.section--inner__center p {
	margin-bottom: 50px;
	animation: fadeInUp 500ms ease-in-out 250ms;
	animation-fill-mode: both;
}
/* Stats */

.stats {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	text-transform: uppercase;
}
.stats div span {
	font-size: var(--fs-h1);
}

/* animation */

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(190px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeBounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		opacity: 0;
		transform: translateY(-30%);
	}
	40% {
		opacity: 1;
		transform: translateY(0%);
	}
}

/* footer */

footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

footer ul li {
	margin-right: 50px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: var(--fw-reg);
	line-height: 2.5;
}

footer ul li a {
	transition: color 600ms;
}
footer ul li a:hover {
	color: #aaa;
}

/* Media Queries */

@media (max-width: 960px) {
	.nav-toggle {
		top: 1em;
		right: 2em;
	}
	.logo {
		width: 150px;
		margin: auto;
	}
	.desktop-nav {
		display: none;
	}
	/*hide mobile meenu items  */

	.mobile-only {
		display: block;
	}

	.section--inner__center h1 {
		font-size: 75px;
	}
}

@media (max-width: 600px) {
	.section--inner {
		bottom: 50px;
		left: 25px;
	}
	.section--inner h2 {
		font-size: var(--fs-h2);
		font-weight: var(--fw-semi);
		margin-bottom: 0;
	}

	.section--inner__center h1 {
		font-size: 50px;
	}

	.section--inner__center {
		width: 80%;
	}
	.stats div span {
		font-size: var(--fs-h2);
	}
	.stats div h3 {
		font-size: var(--fs-body);
	}

	a.btn {
		margin-top: 10px;
	}
	footer ul li p {
		position: absolute;
		top: 10px;
		left: 35%;
	}
	footer ul {
		padding-top: 10px;
	}

	footer ul li {
		margin-right: 15px;
	}
}
